/* Maindiv */
.maincontainer {
    background: #f5f5f5;
    padding: 10px;
}


/* Image And Text */
.container {
    position: relative;
    text-align: center;
    color:wheat;
}

.centered {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Times New Roman';
    font-size: xx-large;
}

.paragraph {
    position: absolute;
    top: 35%;
    font-family: 'Trebuchet MS';
    font-size: small;

}



/* heading Seeds & Fertilizers*/
.seedshead,
.fertiheading {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}


/* seeds container & Fertilizer Container */
.containerone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.block-container {
    margin-top: 15px;
    padding: 10px;

}

.block {
    width: 265px;
    height: 290px;
    margin: 20px;
    background-color: #abcbb1;
    border: 1px solid black;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    word-wrap: break-word;

}

.block:hover {
    transform: scale(1.1);
}

.image-container {
    text-align: center;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.info-container {
    margin: 10px;
}

.Name,
.Season {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.Name b,
.Season b {
    font-size: larger;
}

.Information {
    padding-right: 7px;
    padding-left: 7px;

}





@media (max-width: 768px) {

    /* img & text */
    .centered {
        font-size: medium;
    }

    .paragraph {
        margin-top: 8px;
        font-size: xx-small;
    }

    .image {
        height: 170px;
    }

    /* blocks */
    .block-container {
        flex-direction: column;
        align-items: center;
    }

    .block {
        margin-bottom: 20px;
    }



    
}