.main {
    background-color:#161616;
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
}

.custom-box {
    padding: 17px;
    display: flex;
    text-align: initial;
    flex-direction: column;
    color: #FFFFFF;
}

.custom-box b {
    font-family: 'Times New Roman';
}

.custom-box h1 {
    font-family: Cambria;
}

.website {
    display: inline;
    display: flex;
    margin-left: 20px;
}

.website a {
    margin-left: 5px;
    padding-top: 5px;
}

.website lightning-icon {
    margin-bottom: 10px;
}

.instalinkedin img {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.websitelogo {
    display: flex;
    justify-content: space-between;
}

.instalinkedin {
    margin-right: 49%;
}
.society-footer {
    background-color:#1B1E28;
    color:#FFFFFF;
    padding: 25px;
    bottom: 0;
    width: 100%;
}

@media (max-width: 989px) {
    .instalinkedin {
        margin: auto;
    }
}